#ignore the pycache files
__pycache__/

#ignore the venv files
venv/

#ignore chroma db files
db/

#ignore random backup files
db_back/
old/

#standard MAC files
.DS_Store
.idea/
.vscode/
*.swp
*.swo
*.log
*.tmp
*.bak
*.aux
*.out
*.toc
log.txt
output.json

